<div class="row">
    <div class="col-sm-1 col-mg-1 col-lg-1 col-xl-1"></div>
    <div class="col-sm-9 col-mg-9 col-lg-9 col-xl-9 box">
       <div class="row"> 
           <div class="col-sm-12 col-mg-12 col-lg-12 col-xl-12 blue-head">Product List</div>
       </div>
       <div>
           <label>Filter by:</label><input [(ngModel)]="searchProduct" placeholder="product-name-here" >
       </div>
       <div>
           <table>
               <tr>
                   <th><button class="btn btn-primary" (click)="icon()">Show Image</button></th>
                   <th>Product</th>
                   <th>Code</th>
                   <th>Availability</th>
                   <th>Price</th>
                   <th>5 Star Rating</th>
                   <th></th>
               </tr>
               <tr *ngFor="let product of products| search :searchProduct">
                   <td><img *ngIf="icons" src="{{product.iconUrl}}" alt="no"></td>
                   <td><a routerLink={{product.productId}} href="">{{product.productName}}</a></td>
                   <td>{{product.productCode}}</td>
                   <td>{{product.releaseDate}}</td>
                   <td>{{product.price}}</td>
                   <td><img src="https://lh3.googleusercontent.com/4Mi3OIddJiio5-aQ4NjjKw7aRN3FjQ_NnCRyD4MHe0u97EU21FL1hbhndMWt9KdezBWWMVA=s17" *ngFor='let in of counter(product.starRating)'></td>
                   <td><button class="btn btn-primary">Edit</button></td>
               </tr>
           </table>
       </div>
    </div>
    <div class="col-sm-2 col-mg-2 col-lg-2 col-xl-2"></div>
   </div>
   <router-outlet></router-outlet>
